:root {
    --primary-color: rgb(103,74,179);
    --secondary-color: rgb(163,72,166);
    --tertiary-color: rgb(159,99,196);
    --quaternary-color: rgb(144,117,216);
    --quinary-color: rgb(206,162,215);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition-duration: 200ms;
}

body {
    background: var(--quinary-color);
    color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.darkertext {
    color: var(--primary-color)
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

p {
    font-size: 1.05em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

nav {
    color: var(--quaternary-color);
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 64px;
}

nav a {
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
}

main {
    gap: 64px;
}

section {
    gap: 32px;
}

main, section, .namecontainer {
    display: flex;
    flex-direction: column;
}

.namecontainer {
    gap: 8px;
}

.statscontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.imgcontainer {
    border-radius: 100%;
    max-width: 84px;
    overflow: hidden;
}

.imgcontainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stats > div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats > div i {
    font-size: 1.4em;
}

.stats div div {
    display: grid;
    place-items: center;
    min-width: 40px;
}

.aboutme {
    line-height: 1.5em;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.headertext {
    margin-bottom: 24px;
}

.projectitem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectitem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px
}

.projectitem>div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectitem div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
    .statscontainer {
        flex-direction: row;
    }
    .stats {
        gap: 0px;
    }
}

.aboutme {
    width: 80%;
    margin-right: auto;
}

.outreach:hover {
    opacity: 0.7;
}

.outreach {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: auto;
    width: fit-content;
}

.linkcontainer {
    display: flex;
    align-items: center;
    gap: 24px;
}

.linkitem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkitem:hover {
    opacity: 0.7em;
}

.linkitem p {
    font-size: 0.9em;
}